doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(href='https://fonts.googleapis.com/css?family=Raleway:600,900&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  title  Log in to Mazon | Mazon Technologies Pvt. Ltd.
div(style="margin: auto; width: 600px; height: 600px; padding: 24px; background-image: url('https://i.ibb.co/K0ShPS7/Email-Background1.png'); background-position: center; background-size: cover; background-repeat: no-repeat")
  div(style='padding: 24px; display: flex; justify-items: center; justify-content: center; align-items: center; align-self: center; flex-direction: column;')
    div(style="height: 180px; width: 180px; background-image: url('https://i.ibb.co/PM4TZWp/mazon.png'); background-size: contain; background-repeat: no-repeat; background-position: center;")
    .description(style="font-family: 'Raleway', sans-serif;")
      h4 Hi #{name}, 
      br
      p Log in to Mazon by manually entering this OTP.
      h3(style='text-align: center; text-decoration: underline;') #{otp}
      span(style='font-size: 11px; color: green')
        u Note:
        |  The below OTP is valid for 15 mins only
    br
    div(style='text-align: center')
      br
      br
      div(style='font-size: 11px; color: #363636; bottom: 0;')
        h5 Thank You
        | &copy; 2020 Mazon Technologies Pvt. Ltd., Bengaluru
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
